<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Isotope</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="hamburger.overview({'#':'styles'})">Styles</a></li>
            <li><a ui-sref="hamburger.overview({'#':'types'})">Types</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

    <div class="row spacer-top-lg">
      <div class="col-md-12">
        <h1 class="page-title">Demo Portal</h1>

      </div>
    </div>



  <div class="row spacer-top-lg">
      <div class="col-md-7">
        <label>Filter</label>&nbsp;
        <div class="btn-group" opt-kind ok-key="filter">
            <button type="button" class="btn btn-default active" ok-sel="*">Show All</button>
            <button type="button" class="btn btn-default" ok-sel=".platform">Platform</button>
            <button type="button" class="btn btn-default" ok-sel=".smb">SMB</button>
            <button type="button" class="btn btn-default" ok-sel=".ecommerce">Ecommerce</button>
            <button type="button" class="btn btn-default" ok-sel=".presort">Presort</button>
            <!-- <button type="button" class="btn btn-default" ok-sel=".geoenrichment">Geo Enrichment</button>-->
            <!-- <button type="button" class="btn btn-default" ok-sel=".customers">Customers</button>  -->
        </div>

      </div>
      <div class="col-md-5">
        <label>Sort By</label>&nbsp;
        <div class="btn-group" opt-kind ok-key="sortBy">
          <button type="button" class="btn btn-default" ok-sel=".name">Name</button>
          <button type="button" class="btn btn-default" ok-sel="[number]" ok-type="integer">Number</button>
          <button type="button" class="btn btn-default" ok-sel="[date]" ok-type="integer">Date</button>
        </div>

      </div>
  </div>



      <div isotope-container="isotope-container" class="spacer-top-xl">

          <div ng-repeat="x in iso.data" isotope-item="isotope-item" class="element {{x.category}}">
            <div class="panel panel-default category-widget" >
              <div class="panel-body category-widget-icon">
                <a href="" ng-click="iso.openItem(x)">
                  <img class="img-responsive" ng-src="assets/images/thumbnail.png" alt="" />
                </a>
              </div>
              <div class="panel-footer">
                <h4 class="category-widget-title">
                  <a href="" ng-click="iso.openItem(x)">{{x.name}}</a> <i class="fa fa-question-circle text-gray-300" uib-tooltip="{{x.description}}" tooltip-placement="right" tooltip-append-to-body="true"></i>
                </h4>
                <div class="category-widget-description">
                  <div class="date" date="{{x.date}}">Release Date: {{x.date|date}}</div>
                  <div class="username">Username: {{x.username}}<br></div>
                  <div class="password">Password: {{x.password}}</div>
                </div>
              </div>
            </div>
          </div>

     </div>





</div>
