<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Isotope</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="hamburger.overview({'#':'styles'})">Styles</a></li>
            <li><a ui-sref="hamburger.overview({'#':'types'})">Types</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">
  <div class="row spacer-top-lg">
    <div class="col-md-12">
      <h1 class="">Demo Portal</h1>

      <div class="btn-group btn-group-justified" opt-kind="filter" ok-key="filter">
        <div class="btn-group">
          <button type="button" class="btn btn-default active" ok-sel="*">Show All</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ok-sel=".platform">Platform</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ok-sel=".smb">SMB</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ok-sel=".ecommerce">Ecommerce</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ok-sel=".presort">Presort</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ok-sel=".geoenrichment">Geo Enrichment</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ok-sel=".customers">Customers</button>
        </div>
      </div>

    </div>
    </div>


    <div class="row spacer-top-md">
      <div isotope-container="isotope-container">

        <div class="col-xs-12 col-sm-4 col-md-3 {{x.category}}" ng-repeat="x in iso.data" isotope-item="isotope-item">
          <div class="panel panel-default category-widget">
            <div class="panel-body category-widget-icon">
              <a href="" ng-click="iso.openItem(x)">
                <img class="img-responsive" ng-src="assets/images/thumbnail.png" alt="" />
              </a>
            </div>
            <div class="panel-footer">
              <h4 class="category-widget-title">
                <a href="" ng-click="iso.openItem(x)">{{x.name}}</a> <i class="fa fa-question-circle text-gray-300" uib-tooltip="{{x.description}}" tooltip-placement="right" tooltip-append-to-body="true"></i>
              </h4>
              <p class="category-widget-description">
                Username: {{x.username}}<br />
                Password: {{x.password}}
              </p>
              <p>

              </p>
            </div>
          </div>
        </div>
        </div>

      </div>





</div>
