/* scss-lint:disable MergeableSelector*/

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
  width: 25%;
}

/**** Isotope CSS3 transitions ****/

.isotope, .isotope .isotope-item {
  transition-duration: .8s;
}

.isotope {
  transition-property: height, width;
}

.isotope .isotope-item {
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
// html, body {
//   height: 100%;
// }

#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}

.panel {
  margin-bottom: 0;
}

.element {
  width: 350px;
  min-height: 340px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #fff;
  // border: 1px solid $pb-bg5;
  @include breakpoint(screen-xs) {
    width: 320px;
  }
}


.variable-sizes .element.width2 {
  width: 230px;
}

.variable-sizes .element.height2 {
  height: 230px;
}

.variable-sizes .element.width2.height2 {
  font-size: 2em;
}

.element.large, .variable-sizes .element.large, .variable-sizes .element.large.width2.height2 {
  font-size: 3em;
  width: 350px;
  height: 350px;
  z-index: 100;
}
